<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Zeta Make</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            
            <h1><a href="../index.html"><img src="../img/favIcon.png" alt="icon">ZETA MAKE</a></h1>
        </div>
        
        <nav>
            <!--Barra de Navegacion-->
            <ul>
                <li><a href="../views/ropa.html">Ropa</a></li>
                <li><a href="../views/maquillaje.html">Maquillaje</a></li>
                <li><a href="../views/tiendas.html">Tiendas</a></li>
                <li><a href="../views/galeria.html">Galeria</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
                <li><a href="../views/faq.html">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <main> 
        <div class="contacto__form">
            <h2 class="contacto__form__title">Contactanos:</h2>
            <form action="">
                <div class="contacto__form__nombre">
                    <label for="nombre">Nombre(s): </label>
                    <br>
                    <input type="text" name="nombre" placeholder="Nombre" id="">
                </div>

                <div class="contacto__form__apellido">
                    <label for="apellido">Apellido(s): </label>
                    <br>
                    <input type="text" name="apellido" placeholder="Apellido" id="">
                </div>

                <div class="contacto__form__email">
                    <label for="email">Email: </label>
                    <br>
                    <input type="email" name="email" placeholder="Email">
                </div>

                <div class="contacto__form__asunto">
                    <label for="asunto">Asunto: </label>
                    <br>
                    <select name="asunto" id="">
                        <option value="null">Seleccionar asunto</option>
                        <option value="makeup">Maquillaje</option>
                        <option value="fashion">Ropa</option>
                        <option value="stores">Tiendas</option>
                        <option value="other">Otro</option>
                    </select>
                </div>

                <div class="contacto__form__text">
                    <label for="msg">Escribe tu mensaje:</label>
                    <br>
                    <textarea name="msg" id="" cols="230" rows="10" placeholder="Escribe aqui"></textarea>    
                </div>

                <div class="">
                    Acepto Terminos y Condiciones:
                    <input type="checkbox" name="acepta tyc" value="1">
                </div>
                <div><input type="submit" value="Enviar"></div>
            </form>  
        </div>
    </main>

    <footer>
        <ul>
            <!--Estos elementos serian logos-->
            <li><a href="https://www.instagram.com/"><img src="../img/iconInstagram.png" alt="instagram"></a></li>
            <li><a href="https://www.twitter.com/"><img src="../img/iconTwitter.png" alt="twitter"></a></li>
            <li><a href="https://www.facebook.com/"><img src="../img/iconFacebook.png" alt="facebook"></a></li>
            <li><a href="https://www.tiktok.com/"><img src="../img/iconTikTok.png" alt="tikTok"></a></li>
        </ul>

        <p>Politicas de Privacidad | Terminos de Uso</p>
        <p>Copyright 2021-2022</p>
    </footer>
</body>
</html> 