<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Zeta Make</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            
            <h1><a href="../index.html"><img src="../img/favIcon.png" alt="icon">ZETA MAKE</a></h1>
        </div>
        
        <nav>
            <!--Barra de Navegacion-->
            <ul>
                <li><a href="../views/ropa.html">Ropa</a></li>
                <li><a href="../views/maquillaje.html">Maquillaje</a></li>
                <li><a href="../views/tiendas.html">Tiendas</a></li>
                <li><a href="../views/galeria.html">Galeria</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
                <li><a href="../views/faq.html">FAQ</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="faq">
            <h2>Preguntas Frecuentes (FAQ):</h2>

            <div>
                <h3>Pregunta 1?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut quo aut vero eum soluta aperiam eveniet cum, temporibus perferendis odio architecto, assumenda blanditiis hic debitis asperiores. Possimus suscipit doloremque fuga?</p>
            </div>

            <div>
                <h3>Pregunta 2?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut quo aut vero eum soluta aperiam eveniet cum, temporibus perferendis odio architecto, assumenda blanditiis hic debitis asperiores. Possimus suscipit doloremque fuga?</p>
            </div> 
        
           <div>
                <h3>Pregunta 3?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut quo aut vero eum soluta aperiam eveniet cum, temporibus perferendis odio architecto, assumenda blanditiis hic debitis asperiores. Possimus suscipit doloremque fuga?</p>
           </div>           
           <div>
                <h3>Pregunta 4?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut quo aut vero eum soluta aperiam eveniet cum, temporibus perferendis odio architecto, assumenda blanditiis hic debitis asperiores. Possimus suscipit doloremque fuga?</p>
            </div>

            <div>
                <h3>Pregunta 5?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut quo aut vero eum soluta aperiam eveniet cum, temporibus perferendis odio architecto, assumenda blanditiis hic debitis asperiores. Possimus suscipit doloremque fuga?</p>
            </div>
            
            <div>
                <h3>Pregunta 6?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut quo aut vero eum soluta aperiam eveniet cum, temporibus perferendis odio architecto, assumenda blanditiis hic debitis asperiores. Possimus suscipit doloremque fuga?</p>
            </div>

            <div>
                <h3>Pregunta 7?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut quo aut vero eum soluta aperiam eveniet cum, temporibus perferendis odio architecto, assumenda blanditiis hic debitis asperiores. Possimus suscipit doloremque fuga?</p>
            </div>

            <div>
              <h3>Pregunta 8?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut quo aut vero eum soluta aperiam eveniet cum, temporibus perferendis odio architecto, assumenda blanditiis hic debitis asperiores. Possimus suscipit doloremque fuga?</p>
            </div>
            
            <div>
                <h3>Pregunta 9?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut quo aut vero eum soluta aperiam eveniet cum, temporibus perferendis odio architecto, assumenda blanditiis hic debitis asperiores. Possimus suscipit doloremque fuga?</p>
            </div>
            
            <div>
                <h3>Pregunta 10?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut quo aut vero eum soluta aperiam eveniet cum, temporibus perferendis odio architecto, assumenda blanditiis hic debitis asperiores. Possimus suscipit doloremque fuga?</p>
            </div>
            
            <div>
                <h3>Tienes otra pregunta? <a href="../views/contacto.html">Contactanos</a></h3> 
            </div>
        </div>
    </main>

    <hr>

    <footer>
        <ul>
            <!--Estos elementos serian logos-->
            <li><a href="https://www.instagram.com/"><img src="../img/iconInstagram.png" alt="instagram"></a></li>
            <li><a href="https://www.twitter.com/"><img src="../img/iconTwitter.png" alt="twitter"></a></li>
            <li><a href="https://www.facebook.com/"><img src="../img/iconFacebook.png" alt="facebook"></a></li>
            <li><a href="https://www.tiktok.com/"><img src="../img/iconTikTok.png" alt="tikTok"></a></li>
        </ul>

        <p>Politicas de Privacidad | Terminos de Uso</p>
        <p>Copyright 2021-2022</p>
    </footer>
</body>
</html> 