<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Zeta Make</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            
            <h1><a href="../index.html"><img src="../img/favIcon.png" alt="icon">ZETA MAKE</a></h1>
        </div>
        
        <nav>
            <!--Barra de Navegacion-->
            <ul>
                <li><a href="../views/ropa.html">Ropa</a></li>
                <li><a href="../views/maquillaje.html">Maquillaje</a></li>
                <li><a href="../views/tiendas.html">Tiendas</a></li>
                <li><a href="../views/galeria.html">Galeria</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
                <li><a href="../views/faq.html">FAQ</a></li>
            </ul>
        </nav>
    </header>
    <main class="ropa__main">
        <div class="filtro"> 
            <h3>Filtros</h3><!--filtros-->
            <ul>
                <li>
                    <h4>Remeras</h4>
                    <ul>
                        <li><input type="checkbox" name="blusa" id="">Blusas</li>
                        <li><input type="checkbox" name="remeron" id="">Remerones</li>
                        <li><input type="checkbox" name="tee" id="">Tee's</li>
                    </ul>
                </li>
                <li>
                    <h4>Pantalones</h4>
                    <ul>
                        <li><input type="checkbox" name="jogging" id="">Joggings</li>
                        <li><input type="checkbox" name="jean" id="">Jeans</li>
                        <li><input type="checkbox" name="short" id="">Shorts</li>
                    </ul>
                </li>
                <li>
                    <h4>Abrigos</h4>
                    <ul>
                        <li><input type="checkbox" name="buzo" id="">Buzos</li>
                        <li><input type="checkbox" name="campera" id="">Camperas</li>
                        <li><input type="checkbox" name="sweater" id="">Sweaters</li>
                    </ul>
                </li>
                <li>
                    <h4>Accesorios</h4>
                    <ul>
                        <li><input type="checkbox" name="jogging" id="">Collares</li>
                        <li><input type="checkbox" name="jean" id="">Anillos</li>
                        <li><input type="checkbox" name="short" id="">Pulseras</li>
                    </ul>
                </li>
                <li>
                    <h4>Talle:</h4>
                    <ul>
                        <li><input type="checkbox" name="S" id="">S</li>
                        <li><input type="checkbox" name="M" id="">M</li>
                        <li><input type="checkbox" name="L" id="">L</li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--Mostraria los elementos filtrados-->
        <h3>Productos</h3> 
        <div class="products">    
            <ul>            
                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>

                <div>
                    <img src="../img/imgExample.png" alt="producto">
                    <br>
                    <p>Producto</p>
                </div>


            </ul>
        </div>
        
    </main>

    <footer>
        <ul>
            <!--Estos elementos serian logos-->
            <li><a href="https://www.instagram.com/"><img src="../img/iconInstagram.png" alt="instagram"></a></li>
            <li><a href="https://www.twitter.com/"><img src="../img/iconTwitter.png" alt="twitter"></a></li>
            <li><a href="https://www.facebook.com/"><img src="../img/iconFacebook.png" alt="facebook"></a></li>
            <li><a href="https://www.tiktok.com/"><img src="../img/iconTikTok.png" alt="tikTok"></a></li>
        </ul>

        <p>Politicas de Privacidad | Terminos de Uso</p>
        <p>Copyright 2021-2022</p>
    </footer>
</body>
</html> 