<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Zeta Make</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            
            <h1><a href="../index.html"><img src="../img/favIcon.png" alt="icon">ZETA MAKE</a></h1>
        </div>
        
        <nav>
            <!--Barra de Navegacion-->
            <ul>
                <li><a href="../views/ropa.html">Ropa</a></li>
                <li><a href="../views/maquillaje.html">Maquillaje</a></li>
                <li><a href="../views/tiendas.html">Tiendas</a></li>
                <li><a href="../views/galeria.html">Galeria</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
                <li><a href="../views/faq.html">FAQ</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="infoTiendas">
            <div class="infoTiendas__text">
                <h2>Nuestras Tiendas:</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus dicta inventore asperiores enim sapiente, minima id architecto eos esse ducimus! Quas nemo fugit doloribus animi possimus, id reprehenderit temporibus explicabo.</p>
            </div>
            <div>
                <img src="../img/imgExample.png" alt="producto">
            </div>
        </div>

        <div class="infoEmpleados">
            <div class="infoEmpleados__text">
                <h3>Nuestros Empleados:</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium optio facere aliquid, autem dignissimos aut deleniti beatae esse architecto consectetur recusandae tempora enim ullam eaque eligendi vel laboriosam explicabo quibusdam.</p>
            </div>
            <div>
                <img src="../img/imgExample.png" alt="producto">
            </div>
            
            
        </div>

        <div class="encuentraTienda">
            <h2>Encuentra tu tienda:</h2>
            <div class="encuentraTienda__pais">
                <form action="">
                    <label for="pais">Pais: </label>
                    <select name="pais" id="">
                        <option value="null">Seleccione Pais:</option>
                        <option value="ARG">Argentina</option>
                        <option value="BR">Brasil</option>
                        <option value="CHI">Chile</option>
                        <option value="MEX">Mexico</option>                
                </select>
                </form>
            </div>
                <!--la idea seria que seleccionar un pais me permitiese poner otro select sobre provinicias/estados de ese pais especifico-->
            <div class="encuentraTienda__product">
                <form>
                    <label for="producto">Buscas:</label>
                    <select name="producto" id="">
                        <option value="any">De todo</option>
                        <option value="makeup">Maquillaje</option>
                        <option value="fashion">Fashion</option>
                    </select>
                </form>
            </div>
            <img src="../img/imgExample.png" alt="producto">
        </div>
        
    </main>

    <hr>

    <footer>
        <ul>
            <!--Estos elementos serian logos-->
            <li><a href="https://www.instagram.com/"><img src="../img/iconInstagram.png" alt="instagram"></a></li>
            <li><a href="https://www.twitter.com/"><img src="../img/iconTwitter.png" alt="twitter"></a></li>
            <li><a href="https://www.facebook.com/"><img src="../img/iconFacebook.png" alt="facebook"></a></li>
            <li><a href="https://www.tiktok.com/"><img src="../img/iconTikTok.png" alt="tikTok"></a></li>
        </ul>

        <p>Politicas de Privacidad | Terminos de Uso</p>
        <p>Copyright 2021-2022</p>
    </footer>
</body>
</html> 